/* About */
.inner {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
}

.cont-box {
    margin: 0 40px;
}

h2.ttl {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 0.05em;
}

h2.ttl.large {
    margin: 0 0 70px 0;
    font-size: 46px;
    text-align: left;
}

.txt-box {
    margin-top: 0;
    margin-bottom: 50px;
}

/* プロフィール左側 */
.face-box {
    width: 100%;
}

.face-img {
    margin-top: 0;
    margin-bottom: 40px;
}

.face-box-left {
    float: left;
    width: 160px;
    text-align: left;
}

.face-img img {
    width: 160px;
    height: 160px;
}

/* 右側 */
.face-box-right {
    float: right;
    width: 70%;
}

.company-prof {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 13px;
}

.company-prof dt {
    float: left;
    display: block;
    width: 20%;
    font-weight: bold;
}

.company-prof dd {
    margin: 0;
    float: right;
    width: 80%;
    font-size: 13px;
}
