body {
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    line-height: 1.9;
}
/* ヘッダー */
.header {
    height: 270px;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.header-title {
    position: absolute;
    top: 107px;
    left: 0;
    font-size: 35px;
    padding-left: 0;
}

.header-menu {
    position: absolute;
    bottom: 30px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 50px;
    float: none;
    border-bottom: none;
    font-family: 'Lato',sans-serif;
}

nav li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

nav li a:hover {
    border-bottom: 1px solid #333;
}

.social-btn {
    position: absolute;
    top: 112px;
    right: 30px;
    text-align: center;
    margin: 0 auto;
}

.social-btn li {
    display: inline;
    margin-right: 14px;
}

.social-btn li.last {
    margin-right: 0;
}


/* メイン画像 */
.main {
}

.main-picture {
    margin-bottom: 80px;
    background-color: #ecebeb;
    text-align: center;

}

.main-picture img {
    max-width: 960px;
    height: 420px;
}

/* サービス */
.service {
    max-width: 920px;
    margin: 0 auto 130px auto;
}

h2.ttl {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 0.05em;
}

.service-section {
    float: left;
    width: 30%;
    height: auto;
    margin-right: 5%;
}

.last {
   margin-right: 0;
}

h3.ttl {
    font-size: 22px;
    text-align: center;
    line-height: 1.0;
    color: #505050;
    margin-top: 0;
}

p.ttl {
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-bottom: 45px;
    text-align: center;
    line-height: 1.0;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color: #a5a5a5;
    margin-top: 0;
}

p.icon {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 0;
}

p.icon img {
    height: 102px;
    width: 98px;
}

p.text {

}

/* ワーク */
.works {
    max-width: 920px;
    margin: 0 auto 150px auto;
    padding: 0;
}

.works-list {
    padding: 0;
    margin: 0;
}

.works li {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    margin-right: 4%;
    margin-bottom: 60px;
    border: 1px solid #e0e0e0;
    vertical-align: top;
}

.works li:nth-child(3n) {
    margin-right: 0;
}

.works li .photo {
    margin: 0;
}

.works li img {
    width: 100%;
    height: auto;
}

/* ブログ */
.blog {
    max-width: 920px;
    margin: 0 auto 50px auto;
    padding: 0;
}

.blog-list {
    margin: 0;
    padding: 0;
}

.blog li {
    display: inline-block;
    width: 30%;
    margin-right: 4%;
    margin-bottom: 60px;
    vertical-align: top;
    text-align: right;
}

.blog li:nth-child(3n) {
    margin-right: 0;
}

.blog li .photo {
    margin: 0 0 30px 0;
    text-align: center;
}

.blog li .photo img {
    width: 100%;
    height: auto;
}

.blog li .cont {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}

.blog li .detail {
    font-family: 'Lato', sans-serif;
    padding: 8px 12px;
    background-color: #eee;
    font-weight: 400;
    letter-spacing: 0.1em;
}

/* トップにスクロール */
.to-top {
    text-align: center;
}

.to-top a {
    display: block;
    width: 24px;
    margin: 0 auto 20px auto;
    padding: 8px 20px;
}

/* フッター */
footer {
    max-width: 960px;
    margin:0 auto;
    padding-bottom: 20px;
}

.footer {
    position: relative;
    float: left;
    width: 60%;
    margin: 60px 0 0 30px;
    bottom: 30px;
    right: 30px;
}

nav.footer ul {
    padding: 0;
}

nav.footer li {
    margin: 0 40px 0 0;
}

.copyright {
    float: right;
    width: 40%;
    margin-top: 32px;
    margin-bottom: 0;
    text-align: right;
}

/* 疑似要素 */
.cf {
    zoom: 1;
}

.cf::before, .cf::after {
    content: '';
    clear: both;
    display: table;
}

/* リスト */
ul li {
    list-style: none;
}

/* リンク */
a {
    text-decoration: none;
    color: #333;
}

/* アイコン */
i {
    font-size: 20px;
}